@model Football.ViewModels.ViewModel
@using Football.Models
@{
    ViewBag.Title = "AdminRegister";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>addUser</h2>
<hr />
@using (Html.BeginForm("addAdmin", "Admin", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group row">
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.user.userName, new { @class = "form-control", id = "inputUserName", placeholder = "Username" })

        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            @Html.PasswordFor(m => m.user.password, new { @class = "form-control", id = "inputPassword", placeholder = "Password" })

        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.user.firstName, new { @class = "form-control", id = "inputFirstName", placeholder = "First Name" })

        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.user.lastName, new { @class = "form-control", id = "inputLastName", placeholder = "Last Name" })

        </div>
    </div>
    @Html.HiddenFor(m => m.user.role, new { @value = "Admin,User" })
    @*<input id="role" name="user.role" type="hidden" value="Admin,User" />*@
    <input class="btn btn-outline-primary" id="submit" type="submit" value="Add Admin" />
    <h4 class="text-danger">@ViewBag.message</h4>

    <div class="form-group row">
        <div class="col"><small class="text-danger">@Html.ValidationMessageFor(x => x.user.userName)</small></div>
        <div class="col"><small class="text-danger">@Html.ValidationMessageFor(x => x.user.password)</small></div>
        <div class="col"><small class="text-danger">@Html.ValidationMessageFor(x => x.user.firstName)</small></div>
        <div class="col"><small class="text-danger">@Html.ValidationMessageFor(x => x.user.lastName)</small></div>
    </div>
}
@Html.Partial("AdminDisplay", Model)